<!DOCTYPE html>
<html>

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <script src="/js/yourchoice.js"></script>
    <div class="ntop">
        <nav class="navbar">
            <a href="/">DurgaPrasad</a>
            <a class="active" href="/">Home</a>
            <a href="/yourchoice">GradesConcept</a>
            <a href="/contact">Contact</a></nav>
    </div>